@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&display=swap");

:root {
  box-sizing: border-box;
  --navbar-height: 80px;
  --hero-height: 700px;
  --button-radius: 2em;
  --link-color: black;
  --link-hover: #01bf71;
}

body {
  margin: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
